<body>
    <!-- https://www.codingame.com/playgrounds/8012/angular-form-validation-example-tutorial -->
    <div class="container col-sm-6">
        <div class="inner mt-5">
            <div class="card text-black justify-content-center">
                <div class="card-body justify-content-center">
                    <form [formGroup]="angForm" novalidate>
                        <!--Token-->
                        <div class="form-group row">
                            <label for="passwordToken" class="col-sm-3 text-black col-form-label">Enter Token:</label>
                            <div class="col-sm-5">
                                <input class="form-control" formControlName="passwordToken" type="number" value="{{passwordToken}}"
                                    [(ngModel)]="passwordToken">
                            </div>

                            <div *ngIf="angForm.controls['passwordToken'].invalid && (angForm.controls['passwordToken'].dirty || angForm.controls['passwordToken'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['passwordToken'].errors.required">
                                    Token Required.
                                </div>
                            </div>
                        </div>
                        <!--New Password-->
                        <div class="form-group row">
                            <label for="password" class="col-sm-3 text-black col-form-label">New Password:</label>
                            <div class="col-sm-5">
                                <input class="form-control" formControlName="password" type="password" value="{{password}}"
                                    [(ngModel)]="password">
                            </div>

                            <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['password'].errors.required">
                                    Password Required.
                                </div>
                            </div>
                        </div>
                        <!--Confirm New Password-->
                        <div class="form-group row">
                            <label for="cpassword" class="col-sm-3 text-black col-form-label">Confirm Password:</label>
                            <div class="col-sm-5">
                                <input class="form-control" formControlName="cpassword" type="password" value="{{cpassword}}"
                                    [(ngModel)]="cpassword">
                            </div>
                            <div *ngIf="angForm.controls['cpassword'].invalid && (angForm.controls['cpassword'].dirty || angForm.controls['cpassword'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['cpassword'].errors.required">
                                    Password Required.
                                </div>
                            </div>
                        </div>

                        <div class="text-center mr-5">
                            <button class="pull-text-center" (click)="resetPassword()" type="submit"
                                [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
                                Submit
                            </button>
                        </div>
                    </form>
                    <br />
                    <span class="text text-black">{{statusMessage}}</span>
                </div>
            </div>
        </div>
    </div>
</body>