<!-- <div>
    <form *ngIf="basicAuthService.isUserLoggedIn()" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search By Productname" aria-label="Search">
        <button (click)="handleSearch()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div> -->

<body>
    <form *ngIf="basicAuthService.isUserLoggedIn()">
        <div class="container">
            <div class="inner row">
                <div class="col-sm-6 d-flex justify-content-center"
                    style="margin-bottom: 0px;margin-left:200px;margin-top: 0px;">
                    <input class="form-control form-control-md form-control-borderless justify-content-center"
                        type="search" placeholder="Search By Product ID" name="searchItem" value="{{searchItem}}"
                        [(ngModel)]="searchItem">
                </div>
                <div class="col-md-2">
                    <button (click)="handleSearch()" style="margin-top: 0px;margin-bottom: 0px;"
                        class="btn btn-md btn-success" type="submit">Search</button>
                </div>
                <!-- <p><i class="fa fa-shopping-cart fa-lg text-white"></i></p>
                <h5 class="mt-3 text-white">Cart</h5> -->
            </div>
            <!-- <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form *ngIf="basicAuthService.isUserLoggedIn()">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search"
                                placeholder="Search By Product ID">
                        </div>
                        
                        <div class="col-auto">
                            <button (click)="handleSearch()" class="btn btn-lg btn-success"
                                type="submit">Search</button>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div> -->
        </div>
    </form>
</body>