<body>
    <div class="container">
        <h1 class="text-center mt-5">ABOUT US</h1>
        <div class="row">
            <div class="col-sm-7">
                <h4 class="text-center mt-5"><u>Millat Mart Agency</u></h4>
                <!-- <p style="margin-left: 10px;margin-right: 30px;font-size: 20px;color:brown;">Shri Agro Industries is a -->
                    <p class="text-left mt-3">Shri Agro Industries is a
                    prominent
                    manufacturer and supplier of high quality Chakki Wheat Flour, Bran, Multigrain Atta, Wheat and
                    Spices. We
                    offer a wide range of fresh chakki flour including oats flour, barley flour, ragi flour, chana dal
                    flour,
                    soya flour & maize flour etc.

                    The natural flavour of our products keeps us at the top in the list. Our food products are in
                    compliance
                    with international standards. We have a fully digital Chakki Atta Plant with Auto Form Fill Seal
                    machine
                    that has helped us to benchmark our quality production.

                    Shri Agro industries also have a well-equipped testing lab supervised and controlled by trained and
                    agricultural experts.</p>
            </div>
            <div class="col-sm-5 mt-3">
                <!-- <img src="assets\Images\welcome\millatMart1.jpg" style="width:400px;height:300px" alt="Channai Metro"> -->
                <img src="assets\Images\welcome\millatMart1.jpg" style="width:400px;height:300px" class="mt-5" alt="Channai Metro">
            </div>
        </div>
        <h4 class="text-center mt-5">
            <u>Trustworthy Promoters</u>
        </h4>
        <p class="text-left mt-3">The company is currently led by the
            Directors Mr. Shrigopal Sharma, Managing Director and Mr. R.S. Choyal, Executive Director who are technical
            and professional experts in this industry. Together, they have led the group into excelling in turnkey
            implementation of plants and end-to-end development of state-of-art facilities for their customers.</p>
    </div>
</body>