<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container  animated slideInUp">
        <a href="assets\millat4.JPG"><img src="assets\millatMart.ico" class="rounded mx-auto d-block"
                alt="MillatMart" /></a>
    </div>
    <br>
    <div class="container animated slideInUp p-4">
        <div class="inner">
            <!-- <div class="col d-flex justify-content-center"> -->
            <!-- <div class="card"> -->
            <!-- <div class="card text-white mb-3 p-6 text-center"> -->
            <div class="card text-white text-center">
                <!-- <blockquote class="blockquote mb-0 card-body"> -->
                <div class="card-body">
                    <p> Login</p>
                    <form>
                        <small *ngIf="inValidLogin">{{errorMessage}}</small>
                        <br>
                        <p>Username : <input type="text" name="name" value="{{username}}" [(ngModel)]="username"
                                required></p>
                        <br>
                        <p>Password : <input type="password" name="password" value="{{password}}"
                                [(ngModel)]="password"></p>
                        <br>
                        <button (click)="handleLogin()">Sign in</button>
                        <!-- <button (click)="handleBasicAuthLogin()">Basic Auth SignIn</button>
                        <button (click)="handleJWTAuthLogin()">JWT Auth SignIn</button> -->
                        <!-- <a href="/signup" >Sign Up</a> -->
                        <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                                Example checkbox
                        </label>
                    </div> -->

                    </form>
                </div>
            </div>
            <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</body>
</html>