<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <!-- <div class="container mt-2 animated slideInUp">
        <a href="assets\millat4.JPG"><img src="assets\millatMart.ico" class="rounded mx-auto d-block"
                alt="MillatMart" /></a>
    </div> -->
    <div class="container col-md-5 animated slideInUp d-flex mt-4 border">
        <div class="inner col-md-9">
            <!-- <div class="col d-flex justify-content-center"> -->
            <!-- <div class="card"> -->
            <!-- <div class="card text-white mb-3 p-6 text-center"> -->
            <!-- <div class="card font-weight-bold bg-success"> -->
                <!-- <blockquote class="blockquote mb-0 card-body"> -->
                <!-- <div class="card-body bg-info"> -->
                    <!-- <div class="row mx-2 animated slideInUp"> -->
                        <a href="assets\millat4.JPG" class="animated slideInUp m-4"><img src="assets\millatMart.ico" class="rounded mx-auto d-block"
                                alt="MillatMart" /></a>
                    <!-- </div> -->
                    <!-- <p> Login</p> -->
                    <form>
                        <div class="form-group row">
                            <!-- <br> -->
                            <label class="col-md-4 col-form-label text-left" for="email">Email ID :</label>
                            <div class="col-md-8">
                                <input type="text" name="username" id="username1" class="form-control" value="{{username}}" [(ngModel)]="username"
                                    required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- <br> -->
                            <label class="col-md-4 col-form-label text-left" for="password">Password : </label>
                            <div class="col-md-8">
                                <input [type]="show_button ? 'text' : 'password'" name="password" id="password1" class="form-control" value="{{password}}" [(ngModel)]="password"
                                    required/>
                            </div>
                        </div>
                        <i [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()">Show password</i>
                        <br>
                        <br>
                        <!-- <button type="button" (click)="handleLogin()">Sign in</button> -->
                        <!-- <button (click)="handleBasicAuthLogin()">Basic Auth SignIn</button> -->
                        <!-- <div class="d-inline-block col-md-12"> -->
                        <div class="form-group">
                            <div>
                              <button class="btn btn-block btn-primary" (click)="handleJWTAuthLogin()">Login</button> 
                            </div>
                            <div>
                              <a class="mt-10" routerLink="/forgetPassword">Forget Password ?</a>
                            </div>
                        <!-- </div> -->
                        </div>
                        
                        <br>
                       
                        <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                                Example checkbox
                        </label>
                    </div> -->

                    </form>
                    {{userStatus}}
                    <small class="text-danger" *ngIf="inValidLogin">{{errorMessage}}</small>
                <!-- </div> -->
            <!-- </div> -->
            <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</body>
</html>