<div class="mx-auto"><p style="margin-left: 80px;margin-right: 30px;font-size: 40px;color:brown;">Contact Us</p></div>
<div class="row">
    <div><p style="margin-left: 100px;margin-right: 30px;font-size: 30px;color:brown;">Khalik Industries</p>
    <p style="margin-left: 100px;margin-right: 30px;font-size: 10px;color:brown;">DLF Tower<br>
        New Millat Colony Sector -1, Near Bmp Camp 16<br>
        Patna, Bihar, INDIA -801105<br>
        Email: seperated378.kt@gmail.com<br>
        Ph.: +91-8506862250<br>
</p>
    </div>
    <!--Google map-->
     <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://maps.google.com/maps?q=Phulwari Sharif&t=100&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen></iframe>
      </div> 
      <!-- <div class="mx-auto">
        <iframe class="embed-responsive-item" src="https://maps.google.com/maps?q=Phulwari Sharif&t=100&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
      </div> -->
</div>
<!--Google Maps-->