<!-- 2020 All rights reserved Desdigned and developed By Manzer -->
<hr>

<head>
</head>
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="content">
                    <form>
                        <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn" type="submit">Subscribe Now</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end of newsletter-->
<div class="padding">
    <div class="col-md-12">
        <div class="wow fadeInUp animated" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
            <h2>Download our app </h2>
            <p> Download our android and IOS application to have awesome experience. </p>
        </div>
        <div class="buttons"> <a href="#" class="btn btn-success btn-lg" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInLeft;"><i class="fa fa-android fa-2x"></i> Download<br> <small>Android version 1.4</small></a> <a href="#" class="btn btn-info btn-lg wow fadeInRight animated" data-wow-duration="3s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 3s; animation-delay: 0.3s; animation-name: fadeInRight;"><i class="fa fa-apple fa-2x"></i> Download <br> <small>iOs version 1.4</small></a> </div>
    </div>
</div>