 <!-- Welcome {{name}}, thank you to visit us -->
<!--<a routerLink="/todos">Click here</a>
<button (click)="getWelcomeData()" type="button" class="btn btn-success">Get Welcome Message</button>
<div class="container" *ngIf="welcomeMessageFromService" >
    Your message here {{  welcomeMessageFromService }}
</div>
<div class="container" *ngIf="errorMessageFromService" >
    Error Here {{errorMessageFromService}}
</div> -->
<div class="row">
  <div class="col-sm-3 justify-text-center" style="margin-left: 30px;border-style: groove;">
    <div class="card-header">
      ALL COLLECTIONS
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Dairy Product</li>
      <li class="list-group-item">Bakery Items</li>
      <li class="list-group-item">Fruits & Vegetables</li>
      <li class="list-group-item">Cereals & Pulses</li>
      <li class="list-group-item">New Product</li>
    </ul>
  </div>
  <!-- <div class="col-sm-9"> -->
  <!-- <div class="card col-sm-8 text-white" style="border: 0ch;">
    <img class="card-img" src="assets\Desert.jpg" style="width:770px;height:300px" alt="Card image">
  </div> -->
  <div class="card col-sm-8" style="border: 0ch;">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="assets\Images\welcome\millatMart1.jpg" style="width:780px;height:300px" alt="Channai Metro">
          <div class="carousel-caption">
            <h3 style="color: yellow">Channai Metro</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets\Images\welcome\millatMart2.jpg" style="width:780px;height:300px" alt="Jaipur Metro">
          <div class="carousel-caption">
            <h3 style="color: yellow">Jaipur Metro</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets\Images\welcome\millatMart3.jpg" style="width:780px;height:300px" alt="Mumbai Metro">
          <div class="carousel-caption">
            <h3 style="color: yellow">Mumbai Metro</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets\Images\welcome\millatMart4.jpg" style="width:770px;height:300px" alt="Mumbai Metro">
          <div class="carousel-caption">
            <h3 style="color: yellow">Mumbai Metro</h3>
          </div>
        </ng-template>
      </ngb-carousel>
  </div>
  <!-- </div> -->
</div>
<br>
<div>
  <div style="font-size: 50px;color:brown;text-align: center;">Millat Mart</div>
  <br>
  <p style="margin-left: 30px;margin-right: 30px;font-size: 20px;color:brown;">Millat mart is a new concept retail store whose aim is to provide freshest and pure food products to you, our valuable customers. What makes us unique is Wonder Atta Mart(WAM) and Shrihit food grocery products. You can order your groceries through our website and mobile application and get it delivered right at your doorsteps.</p>
</div>