<html>
    <head>
    </head>
<body>
    <div class="container">
        <input class="form-control mb-4" id="tableSearch" type="text"
          placeholder="Type something to search list items">
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Purchase Amount</th>
            <th>Category</th>
            <th>Availability</th>
            <th>Cash-On-Delivery</th>
            <th>Availability Date</th>
            <th>Action</th>
            <!-- <th>joiningDate</th> -->
        </tr>
    </thead>
    <tbody id="myTable">
        <tr *ngFor="let product of products">
            <td>{{product.productid}}</td>
            <td>{{product.productname}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.availability}}</td>
            <td>{{product.cod}}</td>
            <td>{{product.insertiondate}}</td>
            <td><button (click)="deleteProduct(product.productid)">Add to Cart</button></td>
            <!-- <td>{{employee1.joiningDate}}</td> -->
        </tr>
    </tbody>
</table>
</div>
</body>
</html>