<body>
    <div class="container">
        <div class="inner col-md-12 mt-5 justify-content-center">
        <table class="table table-bordered table-striped mt-3">
            <tbody>
                <tr>
                    <td>First Name</td>
                    <td>{{this.user.firstName}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Last Name</td>
                    <td>{{this.user.lastName}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Email</td>
                    <td>{{this.user.email}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</body>