<body>
    <div class="container">
        <div class="inner col-md-12 mt-5 justify-content-center">
        <table class="table table-bordered table-striped mt-3">
            <tbody>
                <tr>
                    <td>First Name</td>
                    <td>{{this.user.firstName}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Last Name</td>
                    <td>{{this.user.lastName}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Email</td>
                    <td><p>{{this.user.email}}</p><button (click)="doUpdateEmail()">Update Email</button></td>
                </tr>
            </tbody>
            <tbody>
                <tr id="container">
                    <td>Password</td>
                    <td><p>{{this.user.password}}</p><button (click)="changePassword(this.user.email)">Change Password</button></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</body>