<body>
    <!-- https://www.codingame.com/playgrounds/8012/angular-form-validation-example-tutorial -->
    <div class="container col-sm-6">
        <div class="inner mt-5">
            <div class="card text-black justify-content-center">
                <div class="card-body justify-content-center">
                    <form [formGroup]="angForm" novalidate>
                        <!--Email-->
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 text-black col-form-label">Enter Email:</label>
                            <div class="col-sm-5">
                                <input class="form-control" formControlName="email" type="email" value="{{email}}"
                                    [(ngModel)]="email">
                            </div>

                            <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['email'].errors.required">
                                    Email Required.
                                </div>
                            </div>
                        </div>

                        <div class="text-center mr-5">
                            <button *ngIf="this.successMessage == false" class="pull-text-center" (click)="forgetPassword()" type="submit"
                                [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
                                Submit
                            </button>
                            <button  *ngIf="this.successMessage == true" class="pull-text-center" (click)="next()" type="submit"
                                [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
                                Next
                            </button>
                        </div>
                        <div class="text-left mt-3">
                            <span class="text text-black">{{statusMessage}}</span>
                        </div>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>