<!-- <table class="table table-bordered">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Purchase Amount</th>
            <th>Category</th>
            <th>Availability</th>
            <th>Cash-On-Delivery</th>
            <th>Availability Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.productid}}</td>
            <td>{{product.productname}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.availability}}</td>
            <td>{{product.cod}}</td>
            <td>{{product.insertiondate}}</td>
            <td><button (click)="deleteProduct(product.productid)">Add to Cart</button></td>
        </tr>
    </tbody>
</table> -->