<p>list-todos works!</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>category</th>
            <th>availability</th>
            <th>cod</th>
            <th>insertiondate</th>
            <!-- <th>joiningDate</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.productid}}</td>
            <td>{{product.productname}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.availability}}</td>
            <td>{{product.cod}}</td>
            <td>{{product.insertiondate}}</td>
            <!-- <td>{{employee1.joiningDate}}</td> -->
        </tr>
    </tbody>
</table>