<html>
    <head>
    </head>
<body>
    <div class="container mt-3">
        Total number of record found : 
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Number of Items</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Purchase Amount</th>
            <th>Category</th>
            <th>Availability</th>
            <th>Cash-On-Delivery</th>
            <th>Availability Date</th>
            <th>Action</th>
            <!-- <th>joiningDate</th> -->
        </tr>
    </thead>
    <tbody id="myTable">
        <tr *ngFor="let data1 of data">
            <td>{{count}}</td>
            <td>{{data1.productid}}</td>
            <td>{{data1.productname}}</td>
            <td>{{data1.price}}</td>
            <td>{{data1.category}}</td>
            <td>{{data1.availability}}</td>
            <td>{{data1.cod}}</td>
            <td>{{data1.insertiondate}}</td>
            <td><button (click)="addProductToCart(data1.productid,data1.productname,data1.price)">Add to Cart</button></td>
            <!-- <td><button (click)="deleteProduct(data1.productid)">Add to Cart</button></td> -->
            <!-- <td>{{employee1.joiningDate}}</td> -->
        </tr>
    </tbody>
</table>
</div>
</body>
</html>