 <!-- Welcome {{name}}, thank you to visit us -->
<!--<a routerLink="/todos">Click here</a>
<button (click)="getWelcomeData()" type="button" class="btn btn-success">Get Welcome Message</button>
<div class="container" *ngIf="welcomeMessageFromService" >
    Your message here {{  welcomeMessageFromService }}
</div>
<div class="container" *ngIf="errorMessageFromService" >
    Error Here {{errorMessageFromService}}
</div> -->
<body>
    <div class="row">
      <div class="col-sm-3 justify-text-center" style="margin-left: 30px;">
        <!-- <div class="card-header">
          ALL COLLECTIONS
        </div> -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ALL COLLECTIONS</li>
          <li class="list-group-item">Dairy Product</li>
          <li class="list-group-item">Bakery Items</li>
          <li class="list-group-item">Fruits & Vegetables</li>
          <li class="list-group-item">Cereals & Pulses</li>
          <li class="list-group-item">New Product</li>
        </ul>
      </div>
      <!-- <div class="col-sm-9"> -->
      <!-- <div class="card col-sm-8 text-white" style="border: 0ch;">
        <img class="card-img" src="assets\Images\welcome\cards\fruits-nuts.png" style="width:770px;height:300px" alt="Card image">
      </div> -->
      <div class="card col-sm-8" style="border: 0ch;">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img src="assets\Images\welcome\millatMart1.jpg" style="width:780px;height:280px" alt="Channai Metro">
              <div class="carousel-caption">
                <h3 style="color: yellow">.</h3>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets\Images\welcome\millatMart2.jpg" style="width:780px;height:300px" alt="Jaipur Metro">
              <div class="carousel-caption">
                <h3 style="color: yellow">..</h3>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets\Images\welcome\millatMart3.jpg" style="width:780px;height:300px" alt="Mumbai Metro">
              <div class="carousel-caption">
                <h3 style="color: yellow">...</h3>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets\Images\welcome\millatMart4.jpg" style="width:770px;height:300px" alt="Mumbai Metro">
              <div class="carousel-caption">
                <h3 style="color: yellow">....</h3>
              </div>
            </ng-template>
          </ngb-carousel>
      </div>
      <!-- </div> -->
    </div>
    <br>
    <div>
      <div style="font-size: 40px;color:brown;text-align: center;">Kitchen & Food Cupboard</div>
      <!-- <p style="margin-left: 30px;margin-right: 30px;font-size: 20px;color:brown;">Millat mart is a new concept retail store whose aim is to provide freshest and pure food products to you, our valuable customers. What makes us unique is Wonder Atta Mart(WAM) and Shrihit food grocery products. You can order your groceries through our website and mobile application and get it delivered right at your doorsteps.</p> -->
    </div>
    <br>
    <!-- start of card-deck 1-->
    <div class="card-deck" style="margin-left: 80px;margin-right: 80px;">
      <div class="card">
        <img class="card-img" src="assets\Images\welcome\cards\fruits-nuts.png" alt="Card image cap">  
      </div>
      <div class="card">
          <img class="card-img" src="assets\Images\welcome\cards\health-care-1.png" alt="Card image cap">  
        </div>
        <div class="card">
          <img class="card-img" src="assets\Images\welcome\cards\household.png" alt="Card image cap">  
        </div>
    </div>
    <br>
    <!-- start of card-deck 2-->
    <div class="card-deck" style="margin-left: 80px;margin-right: 80px;">
      <div class="card">
        <img class="card-img" src="assets\Images\welcome\cards\jams.png" alt="Card image cap">  
      </div>
      <div class="card">
          <img class="card-img" src="assets\Images\welcome\cards\mayonise.png" alt="Card image cap">  
        </div>
        <div class="card">
          <img class="card-img" src="assets\Images\welcome\cards\mixed-pickle.png" alt="Card image cap">  
        </div>
    </div>
    <br>
    <!-- start of card-deck 3-->
    <div class="card-deck" style="margin-left: 80px;margin-right: 80px;">
      <div class="card">
        <img class="card-img" src="assets\Images\welcome\cards\oats.png" alt="Card image cap">  
      </div>
      <div class="card">
          <img class="card-img" src="assets\Images\welcome\cards\oil-ghee.png" alt="Card image cap">  
        </div>
        <div class="card">
          <img class="card-img" src="assets\Images\welcome\cards\personal-care-1.png" alt="Card image cap">  
        </div>
    </div>
    <br>
    <!-- start of card-deck 4-->
    <div class="card-deck" style="margin-left: 80px;margin-right: 80px;">
      <div class="card">
        <img class="card-img" src="assets\Images\welcome\cards\ready-to-eat.png" alt="Card image cap">  
      </div>
      <div class="card">
          <img class="card-img" src="assets\Images\welcome\cards\snack-food.png" alt="Card image cap">  
        </div>
        <div class="card">
          <img class="card-img" src="assets\Images\welcome\cards\tea-coffee-1.png" alt="Card image cap">  
        </div>
    </div>
    <br>
    <div class="card" style="margin-left: 95px;margin-right: 95px;">
      <img class="card-img" style="height: 300px;" src="assets\Images\welcome\cards\wondermart-banner.png" alt="Card image cap">  
    </div>
    </body>